.Home {
    display: flex;
    height: 100vh;
}

#filterSection {
    max-width: 18%;
    height: 100vh;
}

#results {
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 90%;
    height: 100vh;
}

.card {
    min-height: 800px;
}

#search {
    width: 95%;
    height: 1.5rem;
}

@media screen and (max-width: 600px) {
    #filterSection {
      max-width: 30%;
    }

    #resultSection {
        max-width: 70%
    }
  }